@page "/Profile"

<h3>My Profile</h3>

<div class="profile">
    <img src="https://scontent.fdvo2-2.fna.fbcdn.net/v/t1.6435-9/175152003_252539929941859_3081847022703271820_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=86c6b0&_nc_eui2=AeFufznS3MXn-R_qU1IaMfGdimkRh0APU56KaRGHQA9TnrgF-KpPMMZEstFfXIbnW66NwZAHyzdx3qYpZCc3l9a5&_nc_ohc=nNLsIRWKOQYQ7kNvgHTYNA7&_nc_zt=23&_nc_ht=scontent.fdvo2-2.fna&_nc_gid=AT_O9m1xJdVW3YHI5QFGIcY&oh=00_AYAewe9uKQQPUVuQPaTXF_795PpIU8i5cQA0YogsuYJhxg&oe=67532B63"
         alt="Profile Picture"
         class="profile-picture" />
    <h4>@Name</h4>
    <p><strong>Occupation:</strong> @Occupation</p>
    <p><strong>Location:</strong> @Location</p>
    <p><strong>Interests:</strong> @string.Join(", ", Interests)</p>
    <q><strong>About Me:</strong> @AboutMe</q>
</div>

@code {
    private string Name = "Claricia, Jaison Jade";
    private string Occupation = "Student of SCC";
    private string Location = "Upper Glad 1";
    private List<string> Interests = new List<string> { "Tools Service  Buy Online " };
    private string AboutMe = "tools, Anythimg repair, and others";
}
<style>
    .profile {
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
    }

    .profile-picture {
        border-radius: 100%;
        width: 500px;
        height: 500px;
    }

    h4 {
        margin-top: 10px;
        font-size: 1.5rem;
    }

    p {
        margin: 5px 0;
        font-size: 1rem;
    }

    q {
        margin: 10px 0;
        font-size: 1rem;
    }
</style>
